body {
  font-family: 'Helvetica Neue', Helvetica, sans-serif;
  font-size: .9em;
  padding: 50px 0;
}
p, td, th {
  line-height: 1.3em;
}
a {
  color: #04668a;
  text-decoration: none;
}
  a:hover {
    color: #990000;
    text-decoration: underline;
  }

.navbar-btn {
  margin-right: 3px;
}

.btn-default {
  margin-left: 3px;
}

.truncate {
  width: 250px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#navigation {
  background: #f5f5f5;
  padding: 10px 0;
  width: 100%;
  position: fixed;
  top: 0;
  border-bottom: 1px #ddd solid;
  display: block;
}

#player {
  float: left;
}

.container {
  padding-left: 5%;
  padding-right: 5%;
  max-width: 960px;
  margin: 0 auto;
}


